{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 150,
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "auto"
}
