.find-auth-submit-button {
  margin-top: 20px;
}

/* 탭 스타일 */
.auth-tabs {
  display: flex;
  border-bottom: 1px solid #333345;
  margin-bottom: 25px;
}

.auth-tabs button {
  flex: 1;
  padding: 12px;
  background: none;
  border: none;
  color: #71717a;
  cursor: pointer;
}

.auth-tabs button.active {
  color: #fff;
  border-bottom: 2px solid #9d50bb;
}
